script(type='text/template', id='template-awards')
  <% _.each( rc.awards, function( item, key, list ){ %>
  <% if (rc.year == item.year) { %>
  figure.awards-item(
  data-id!='<%- item.id %>',
  data-year!='<%- item.year %>',
  data-model!='<%- item.model %>'
  data-type!='<%- item.type_award %>'
  )
    div.awards-item__img
      div.awards-item__img__preview
        img(src!='<%- item.img_preview %>', alt!='<%- item.title %>')
      div.awards-item__img__full
        img(src!='<%- item.img_full %>', alt!='<%- item.title %>')
    figcaption
      div.awards-item__head
        <% if (item.country) { %>
        div.awards-item__country(data-country!='<%- item.country %>') <%- item.country %>
        <% } %>
        <% if (item.title) { %>
        div.awards-item__title <%- item.title %>
        <% } %>
      div.awards-item__content
        <% if (item.description) { %>
        div.awards-item__text <%- item.description %>
        <% } %>
      div.awards-item__content--full
        div.awards-item__title-mini О премии
        div.awards-item__text <%- item.text %>
        <% if (item.article_link) { %>
        a.bstd-btn.bstd-btn--grey.awards-item__btn--article(href!='<%- item.article_link %>', target='_blank')
          span Перейти к статье
        <% } %>
      div.bstd-btn.bstd-btn--grey.awards-item__btn--open.js-awards-item__btn--open
        span Подробнее
      div.awards-item__btn--close.js-awards-item__btn--close
        span.awards-item__btn--close__line.awards-item__btn--close__line--top
        span.awards-item__btn--close__line.awards-item__btn--close__line--bottom
  <% } %>
  <% });	%>

section.b-awards
  div.bstd-layout
    div.awards