section.b-awards-filter
	div.bstd-layout
		div.awards-filter
			fieldset.formline
				div.formline__col.formline__col--col-3
					label.bstd-label Выберите год
					select.select--custom(name='awards-year')
						option(value='') Выбрать
						option(value='1') 1
						option(value='2') 2
				div.formline__col.formline__col--col-3
					label.bstd-label Выберите модель
					select.select--custom(name='awards-model')
						option Выбрать
				div.formline__col.formline__col--col-3
					label.bstd-label Выберите награду
					select.select--custom(name='awards-item')
						option Выбрать