section.b-awards-header
	div.awards-header
		div.awards-header__top
			div.bstd-layout
				div.awards-header__title Награды Toyota
		div.bstd-layout
			div.awards-header__subtitle
				| Компания Тойота и наши автомобили были отмечены многими международными
				| и российскими наградами за высокие стандарты качества, надежности
				| и стремление к максимальной удовлетворенности клиентов.