/*шрифт rouble*/
@font-face {
	font-family: 'rouble';
	src: url('/rouble/ALSRubl.eot');
	src: url('/rouble/ALSRubl.eot') format('embedded-opentype'),
		 url('/rouble/ALSRubl.woff') format('woff'),
	   	 url('/rouble/ALSRubl.ttf') format('truetype'),
		 url('/rouble/ALSRubl.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

