doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    title Toyota Awards
    link(rel="stylesheet", type="text/css", href="//t1-preview-ru.herokuapp.com/styles/T1-style.css")
  body
    div#minisiteContent

  // library scripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='static/js/initScripts.js')