/**
*default styles
*/
@import '//content.toyota.ru/fonts/toyota/fonts.css';


$font-color--main: #1e2a32;
$border-color--grey: #e1e1e1;

/*fixed toyota*/
.navbar-fixed-top .logo-link#logo-big,
#nav-secondary-level {
  display: none!important;
}

#awards fieldset,
#awards img{
  border:none;
}

#awards a,
#awards a:hover{
  text-decoration: none;
}

#awards{
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  line-height: 1;
}

/*general style*/
.bstd-layout{
  position: relative;
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;

  box-sizing: border-box;
}

/*btn*/
.bstd-btn{
  display: inline-block;
  position: relative;
  width: auto;
  height: 36px;
  padding: 0 13px;
  color: #000;
  font-size: 14px;
  font-family: ToyotaText-Reg, 'sans-serif';
  line-height: 34px;

  cursor: pointer;
  outline: none;
  border: 1px solid $border-color--grey;
  overflow: hidden;
  -webkit-appearance: none;

  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  span{
    position: relative;
  }
}

.bstd-btn--grey {
  color: #6c7073;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

  background-color: #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#e8e9ea 100%);
  background-image: -o-linear-gradient(top,#fff 0,#e8e9ea 100%);
  background-image: linear-gradient(to bottom,#fff 0,#e8e9ea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE8E9EA', GradientType=0);
  //box-shadow: 0 1px 1px rgba(0,0,0,.15),inset 0 0 1px rgba(30,42,50,.5);

  &:hover {
    color: #1e2a32;
    -webkit-box-shadow: none;
    box-shadow: none;

    background: #e8e9ea;
  }
}

.formline{

}

.formline__col{
  width: 100%;
  position: relative;
  float: left;

  box-sizing: border-box;
}

.formline__col--col-3{
  width: 33.3333333%;
}

.formline__col--col-3:nth-child(1){
  padding-right: 16px;
}

.formline__col--col-3:nth-child(2){
  padding: 0 8px;
}

.formline__col--col-3:nth-child(3){
  padding-left: 16px;
}

/*label*/
.bstd-label{
  position: relative;
  display: block;
  color: $font-color--main;
  font-size: 17px;
  font-family: ToyotaDisplay-Bold, 'sans-serif';
  margin-bottom: 10px;
}

.select--custom {
  width: 100%;
  height: 46px;
  padding: 0 48px 0 15px;
  border: 1px solid #d7d7d7;
  background: #fff url('../images/select--custom.png') calc(100% - 10px) no-repeat;
  color: $font-color--main;
  font-size: 15px;
  font-family: ToyotaText-Reg, 'sans-serif';
  line-height: 44px;

  -webkit-user-select: none;
  text-overflow: ellipsis;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 2px;
  border-radius: 2px;

  option[value=""] {
    color: $border-color--grey;
  }
}

.select--custom::-ms-expand {
  display: none;
}


.select--custom[disabled] {
  opacity: 0.5;
}






/**********************/
.b-awards-header {

}

.awards-header {

  &__top {
    background: url('../images/header.jpg') center no-repeat;
    height: 420px;
    padding-top: 130px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__title {
    color: #fff;
    font-size: 50px;
    font-family: ToyotaDisplay-Bold, 'sans-serif';
    //letter-spacing: calc((52 * -25) / 1000) + 'px';
    text-align: center;
  }

  &__subtitle {
    color: $font-color--main;
    font-size: 18px;
    font-family: ToyotaDisplay-Reg, 'sans-serif';
    line-height: 25px;
    text-align: center;
    margin: 50px 0;
  }
}


/**********************/
.awards-filter {
  padding: 25px 30px 50px;
  background: #ebebeb;

  -webkit-border-radius: 3px;
  border-radius: 3px;
}


/**********************/
.b-awards {

}

.awards {

}

.awards__year {

  &__title {
    color: $font-color--main;
    font-size: 44px;
    font-family: ToyotaDisplay-Bold, 'sans-serif';
    letter-spacing: calc((44 * -10) / 1000) + 'px';
    margin: 35px 0 30px;
  }
}

.awards-layout {
  display: -ms-flexbox;
  display: flex;
  //justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px -15px;
}

.awards-item {
  $padding: 19px;

  position: relative;
  width: calc((100% / 3) - 30px);
  padding: $padding;
  border: 1px solid $border-color--grey;
  margin: 15px;
  float: left;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &.fade-out {

  }

  &__img {
    padding-bottom: $padding;
    border-bottom: inherit;

    &__preview {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      &:before {
        width: 100%;
        padding-top: 50%;
        float: left;
        content: '';
      }

      img {
        display: block;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }

    &__full {
      display: none;

      img {

      }
    }
  }

  figcaption {
    padding-top: $padding;
  }

  &__head {
    display: -ms-flexbox;
    display: flex;
  }

  &__country {
    $height: 17px;

    display: inline-block;
    width: auto;
    height: $height;
    padding: 0 6px;
    color: #fff;
    font-size: 13px;
    font-family: ToyotaText-Reg, 'sans-serif';
    line-height: $height;
    background: #d52b1e;
    margin-right: 6px;

    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  &__title {
    display: inline-block;
    color: $font-color--main;
    font-size: 17px;
    font-family: ToyotaText-Bold, 'sans-serif';
  }

  &__content {
    padding: 12px 0 20px;
  }

  &__text {
    color: #6c7073;
    font-size: 15px;
    font-family: ToyotaText-Reg, 'sans-serif';
    line-height: 19px;
  }

  &__content--full {
    display: none;
    border-top: 1px solid $border-color--grey;
    padding-top: 12px;
  }

  &__title-mini {
    color: $font-color--main;
    font-size: 17px;
    font-family: ToyotaText-Bold, 'sans-serif';
    margin-bottom: 8px;
  }

  &__btn--article {
    margin-top: 20px;
  }

  &__btn--open {

  }

  &__btn--close {
    display: none;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d4d4d4;
    cursor: pointer;

    -webkit-transition: all .5s ease;
    transition: all .5s ease;

    &__line {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 40%;
      height: 2px;
      background: #343434;

      &--top {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &--bottom {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.awards-item {
  &__country[data-country="Россия"] {background: #d52b1e;}
  &__country[data-country="Германия"] {background: #7a1482;}
  &__country[data-country="Великобритания"] {background: #f5c000;}
  &__country[data-country="США"] {background: #004ef5;}
}

/*active .awards-item*/
.awards-item {

  &.active {
    width: calc(100% - 30px);
    padding: 30px;
  }

  &.active &__img {
    $offset: 30px;

    position: absolute;
    top: $offset;
    right: $offset;
    bottom: $offset;

    width: 30%;
    padding-bottom: 0;
    border: none;

    &__preview {

      &:before {
        padding-top: 100%;
      }
    }
  }

  &.active figcaption {
    padding: 0 calc(30% + 30px) 0 0;
  }

  &.active &__head {
    display: block;
  }

  &.active &__country {
    $height: 34px;

    font-size: 24px;
    padding: 0 10px;
    height: $height;
    line-height: $height;

    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  &.active &__title {
    display: block;
    font-size: 24px;
    margin: 25px 0 0 0;
  }

  &.active &__content {
    padding: 8px 0 30px;
  }

  &.active &__content--full {
    display: block;
  }

  &.active &__btn--open {
    display: none;
  }

  &.active &__btn--close {
    display: block;
  }
}

/*кнопка вверх*/
.upupup{
  $size: 40px;

  display: none;
  position: fixed;
  left: $size;
  bottom: $size;
  width: $size;
  height: $size;
  background: #343f46;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover{
    opacity: 0.8;
  }

  &:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 15px;
    height: 9px;
    background: url('/static/images/arrows.png') -25px -7px no-repeat;
  }
}


@media (max-width: 1199px){
  .bstd-layout {
    width: 970px;
  }
}

@media (max-width: 991px){
  .bstd-layout {
    width: 750px;
  }

  /**********************/
  .awards-header {
    &__top {
      height: 330px;
    }
  }

  /**********************/
  .awards-item {
    width: calc((100% / 2) - 30px);
  }

  /*active .awards-item*/
  .awards-item {
    &.active &__img {
      width: 40%;
    }

    &.active figcaption {
      padding: 0 calc(40% + 30px) 0 0;
    }
  }
}

@media (max-width: 767px) {
  .bstd-layout {
    width: 100%;
  }

  .formline__col {
    width: 100%;
    padding: 20px 0 0 0!important;
  }

  /**********************/
  .awards-header {

    &__top {
      height: auto;
      padding: 100px 0;

      -webkit-background-size: cover;
      background-size: cover;
    }

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 16px;
      margin: 25px 0;
    }
  }

  /*********************/
  .awards-item {
    &__btn--close {
      top: 15px;
      right: 15px;
    }
  }

  /*active .awards-item*/
  .awards-item {
    $padding: 15px;

    &.active {
      padding: $padding;
    }

    &.active &__img {
      $offset: 0;

      position: relative;
      top: $offset;
      right: $offset;
      bottom: $offset;
      width: 100%;
      padding-bottom: $padding;

      &__preview {

        &:before {
          padding-top: 40%;
        }
      }
    }

    &.active figcaption {
      width: 100%;
      padding: 0;
    }
  }

  /*кнопка вверх*/
  .upupup {
    $size: 20px;

    left: $size;
    bottom: $size;
  }
}

@media (max-width: 568px){
  .formline__col {
    padding: 15px 0 0 0!important;
  }

  /**********************/
  .awards-filter {
    padding: 0 15px 15px;
  }

  /**********************/
  .awards__year {
    &__title {
      font-size: 30px;
      letter-spacing: normal;
      margin: 15px 0 10px;
    }
  }

  /**********************/
  .awards-layout {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }

  .awards-item {
    $padding: 15px;

    width: calc(100% - 30px);
    padding: $padding;
    margin: 7.5px 15px;

    &__img {
      padding-bottom: $padding;
    }

    figcaption {
      padding-top: $padding;
    }
  }
}

@media (max-width: 480px){

}