@charset "utf-8";
@import '//content.toyota.ru/fonts/toyota/fonts.css';

/*reset css*/
*{
  margin: 0;
  padding: 0;
}

fieldset,img{
  border:none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

/*placeholder для всех нормальных браузеров*/
::-webkit-input-placeholder  {color: #666; font-size: 14px; font-family: Arial, 'sans-serif';}
:-moz-placeholder {color: #666; font-size: 14px; font-family: Arial, 'sans-serif';}
:-ms-input-placeholder {color: #666; font-size: 14px; font-family: Arial, 'sans-serif';}

a{
  text-decoration: none;
}

/*transition all*/
.transition{
  transition: all 0.3s ease-in;
}


html, body{
  width: 100%;		    /*adaptive*/
  min-width: 320px; 	/*adaptive*/
  min-height: 100%;
  height: 100%;
}

body{
  font-family: Verdana, sans-serif;
  line-height: 1;
  font-size: 100%;
  background-color: #fff;
}

#dreamtown{
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

/*general style*/
.bstd-layout{
  position: relative;
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;

  box-sizing: border-box;
}

.left{
  float: left;
}

.right{
  float: right;
}

/*title*/
.bstd-title{
  color: #2c2b2b;
  font-size: 44px;
  font-family: ToyotaDisplay-Reg, 'sans-serif';
  text-transform: uppercase;
  letter-spacing: calc((44 * 10) / 1000) + 'px';
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 28px;
  border-bottom: 1px solid #ccc;
}

.bstd-title_white{
  color: #fff;
}

/*text*/
.bstd-text{
  color: #000;
  font-size: 20px;
  font-family: ToyotaDisplay-Reg, 'sans-serif';
  text-align: center;
  line-height: 22px;
}

.bstd-text_white{
  color: #fff;
}



/*form block*/
.form{

}

.formline-group{
  border-top: 1px solid #454545;
  padding-bottom: 25px;
}

.formline{
  padding-top: 21px;
}

.formline-col{
  width: 100%;
  position: relative;
  float: left;

  box-sizing: border-box;
}

.formline-col_col2{
  width: 50%;
}

.formline-col_col2:nth-child(1){
  padding-right: 12px;
}

.formline-col_col2:nth-child(2){
  padding-left: 12px;
}

.formline-col_col3{
  width: 33.3333333%;
}

.formline-col_col3:nth-child(1){
  padding-right: 33px;
}

.formline-col_col3:nth-child(2){
  padding: 0 17px;
}

.formline-col_col3:nth-child(3){
  padding-left: 33px;
}

.formline-col_col2__big{
  width: 66.6666666%;
}

.formline-col_col2__small{
  width: 33.3333333%;
}

.formline-col_1{
  padding-right: 17px;
}

.formline-col_2{
  padding-left: 33px;
}

.formline-col_col4{
  width: 25%;
}

.formline-col_col4:nth-child(1){
  padding-right: 6px;
}

.formline-col_col4:nth-child(2){
  padding: 0 4px 0 2px;
}

.formline-col_col4:nth-child(3){
  padding: 0 2px 0 4px;
}

.formline-col_col4:nth-child(4){
  padding-left: 6px;
}

/*label*/
.label{
  position: relative;
  display: block;
  color: #fff;
  font-size: 12px;
  font-family: Arial, 'sans-serif';
  line-height: 18px;
  font-weight: bold;
  letter-spacing: calc((12 * 25) / 1000) + 'px';
  margin-bottom: 10px;

  min-height: 18px;
}

.required{
  color: #999;
  margin-left: 3px;
}

/*error form*/
span.error{
  color: #999;
  font-size: 12px;
  font-family: Arial, 'sans-serif';
}

/*input*/
.inp{
  display: block;
  width: 100%;
  height: 48px;
  padding: 0 15px;

  color: #666;
  font-size: 14px;
  font-family: Arial, 'sans-serif';
  line-height: 44px;

  -webkit-appearance: none;

  background: #262626;
  border: 2px solid #3c3c3c;

  box-sizing: border-box;
}

.inp:focus{
  outline: none;
  border-color: #3e7ab8;
  box-shadow: 0 0 15px #3e7ab8;
}

.inp.error{
  border-color: #ff0000;
}

.inp[disabled="true"]{
  opacity: 0.5;
}

/*textarea*/
.textarea{
  display: block;
  width: 100%;
  height: 144px;
  padding:15px;

  color: #666;
  font-size: 14px;
  font-family: Arial, 'sans-serif';
  line-height: 18px;

  -webkit-appearance: none;

  background: #262626;
  border: 2px solid #3c3c3c;

  box-sizing: border-box;
}

.textarea:focus{
  outline: none;
  border-color: #3e7ab8;
  box-shadow: 0 0 15px #3e7ab8;
}

.textarea.error{
  border-color: #ff0000;
}

/*select*/
.select{
  display: block;
  width: 100%;
}

.select_custom {
  padding: 0 42px 0 20px;
  height: 70px;
  border: 1px solid #7c7c7c;
  background: #fff url('../images/selectbox_arrow.png') calc(100% - 15px) no-repeat;
  color: #010004;
  font-size: 20px;
  font-family: ToyotaDisplay-Reg, 'sans-serif';
  line-height: 68px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  text-overflow: ellipsis;
  box-sizing: border-box;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.jq-selectbox.disabled{
  cursor: default;

  .jq-selectbox__select{
    cursor: default;
    opacity: 0.5;
  }
}

.jq-selectbox__select{
  width: 100%;
  height: 48px;
  padding: 0 45px 0 15px;

  color: #ccc;
  font-size: 12px;
  font-family: Arial, 'sans-serif';
  line-height: 46px;
  letter-spacing: calc((12 * 25) / 1000) + 'px';

  background: #3c3c3c;
  border: 2px solid #3c3c3c;
  cursor: pointer;

  box-sizing: border-box;
  border-radius: 4px;
}

.jq-selectbox__select:active{

}

/*.jq-selectbox__select:hover {

}*/

/*.jq-selectbox.focused .jq-selectbox__select{
  outline: none;
  border-color: #3e7ab8;
  box-shadow: 0 0 15px #3e7ab8;
}*/

.jq-selectbox.opened .jq-selectbox__select{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #3e7ab8;
  box-shadow: 0 0 15px #3e7ab8;
}

.jq-selectbox.error .jq-selectbox__select{
  border-color: #ff0000;
}

.jq-selectbox .placeholder {
  color: #ccc;
  font-size: 12px;
  font-family: Arial, 'sans-serif';
  line-height: 46px;
  letter-spacing: calc((12 * 25) / 1000) + 'px';
}

.jq-selectbox__select-text{
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox__trigger{
  position: absolute;
  width: 45px;
  height: 100%;
  border: none;
  top: 0;
  right: 0;
}

.jq-selectbox__trigger-arrow{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  color: #fff;
  font-size: 14px;
  font-family: ss-lexus, 'sans-serif';
  text-align: center;
}

.jq-selectbox__trigger-arrow:before{
  content: '\f101';
}

.jq-selectbox__dropdown {
  width: 100%;
  z-index: 1000;

  color: #ccc;
  font-size: 12px;
  font-family: Arial, 'sans-serif';
  line-height: 28px;
  letter-spacing: calc((12 * 25) / 1000) + 'px';
  border: 1px solid #3e7ab8;
  background: #3c3c3c;
  box-sizing: border-box;
}

.jq-selectbox.maxheight ul {
  max-height: 280px;
}

.jq-selectbox li {
  height: 28px;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox li.disabled{
  color: #999;
}

.jq-selectbox li.selected,
.jq-selectbox li:hover{
  color: #fff;
  background: #3e7ab8;
}

.jq-selectbox li.disabled:hover{
  cursor: default;
}

/*radio*/
.radio{
  position: relative;
  overflow: hidden;
}

.radio-item{
  display: table;
  position: relative;
  float: left;
  height: 42px;
  //line-height: 38px;
  margin-left: 20px;
}

.radio-item:first-child{
  margin-left: 0;
}

.label-radio{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  //display: inline-block;
  color: #fff;
  font-size: 12px;
  font-family: Arial, 'sans-serif';
  letter-spacing: calc((12 * 25) / 1000) + 'px';
  padding-left: 50px;
  cursor: pointer;
}

.input-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.radio-fake{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 42px;
  height: 42px;
  border: 2px solid #3c3c3c;
  margin: auto 0;
  background: #262626;

  border-radius: 4px;
  box-sizing: border-box;
}

.input-radio.error + .radio-fake{
  border-color: #ff0000;
}

.radio-fake:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  margin: auto;
  color: #fff;
  font-size: 14px;
  font-family: ss-lexus, 'sans-serif';
  text-align: center;
  line-height: 38px;
}

.input-radio:checked + .radio-fake {
  border-color: #3e7ab8;
}

.input-radio:checked + .radio-fake:before {
  content: '\f113';
}

/*checkbox*/
.checkbox{
  position: relative;
  overflow: hidden;
}

.checkbox-item{
  display: table;
  position: relative;
  float: left;
  height: 42px;
  //line-height: 38px;
  margin-left: 20px;
}

.checkbox-item:first-child{
  margin-left: 0;
}

.label-checkbox{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  //display: inline-block;
  color: #fff;
  font-size: 12px;
  font-family: Arial, 'sans-serif';
  letter-spacing: calc((12 * 25) / 1000) + 'px';
  padding-left: 50px;
  cursor: pointer;
}

.input-checkbox {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.checkbox-fake{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 42px;
  height: 42px;
  border: 2px solid #3c3c3c;
  margin: auto 0;
  background: #262626;

  border-radius: 4px;
  box-sizing: border-box;
}

.input-checkbox.error + .checkbox-fake{
  border-color: #ff0000;
}

.checkbox-fake:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  margin: auto;
  color: #fff;
  font-size: 14px;
  font-family: ss-lexus, 'sans-serif';
  text-align: center;
  line-height: 38px;

}

.input-checkbox:checked + .checkbox-fake {
  border-color: #3e7ab8;
}

.input-checkbox:checked + .checkbox-fake:before {
  content: '\f113';
}

/*but*/
.bstd-btn{
  display: inline-block;
  position: relative;
  width: auto;
  height: 60px;
  padding: 0 25px 0 50px;
  color: #fff;
  font-size: 20px;
  font-family: ToyotaText-Reg, 'sans-serif';
  line-height: 60px;

  cursor: pointer;
  outline: none;
  border: none;
  overflow: hidden;
  -webkit-appearance: none;

  background-color: #d2001e;
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#d2001e),to(#73000d));
  background-image: -webkit-linear-gradient(top,#d2001e,0,#73000d,100%);
  background-image: -moz-linear-gradient(top,#d2001e 0,#73000d 100%);
  background-image: linear-gradient(to bottom,#d2001e 0,#73000d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFD2001E', endColorstr='#FF73000D');
  box-shadow: 0 1px 1px rgba(0,0,0,.15),inset 0 0 1px rgba(30,42,50,.5);
  border-radius: 3px;
  box-sizing: border-box;

  //transition: all 0.5s ease-in-out;

  span{
    position: relative;
  }

  &:hover{
    background: #73000d;
  }

  /*&:hover:before{
    width: 100%;
  }

  &:hover{
    color: #fff;
  }*/
}

//.bstd-btn:before,
.bstd-btn:after{
  position: absolute;
  top: 0;
  bottom: 0;
  content: '';
}

/*.bstd-btn:before{
  right: 0;
  width: 0;
  height: inherit;
  background: #4589ce;
  border-radius: 5px;

  transition: all 0.3s ease-in-out;
}*/

.bstd-btn:after{
  width: 30px;
  height: 30px;
  left: 10px;
  margin: auto;
  content: '';
  background: url('../images/btn_icon.png');

 /* border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;*/
}

.bstd-btn.disabled{
  opacity: 0.5;
}

/*popup*/
.mb-body-popup{
  overflow: hidden;
}

.mb-wrap-popup{
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}

.mb-overlay{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 23, 0.98);
}

.mb-popup {
  position: absolute;
  z-index: 900;
  //top: 80px;
  width: 100%;
  //margin-bottom: 80px;

  box-sizing: border-box;
}

.mb-close{
  position: absolute;
  z-index: 1000;
  top: 0;
  right: calc(50% - 514px);
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.mb-close:hover:before{
  color: #3e7ab8;
}

.mb-close:before {
  color: #fff;
  font-size: 17px;
  font-family: ss-lexus, 'sans-serif';
  content: "\f117";
}

.mb-popup-content.waiting{
  &:before {
    background-size: 80px;
  }
}

.ss-lexus:before{
  color: #fff;
  font-size: 14px;
  font-family: ss-lexus, 'sans-serif';
}

/*end general style*/

@media (max-width: 1199px){
  .bstd-layout {
    width: 970px;
  }
}

@media (max-width: 991px){
  .bstd-layout {
    width: 750px;
  }
}

@media (max-width:767px){
  .bstd-layout {
    width: 100%;
  }

  .formline-col_col2,
  .formline-col_col3,
  .formline-col_col2__big,
  .formline-col_col2__small{
    width: 100%;
    padding: 0!important;

    &:first-child{
      margin-top: 0;
    }
  }

  /*popup*/
  .mb-popup {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
  }
}

@media (max-width:480px){

}